.page{
	width : 780px;
	margin : auto;
	font-size : 15px;
	background-color : RGB(90,145,210);
	color : white;
	border: 1px solid black;
	height: 907px;
}
.intro{
	display: inline-block;
	height : 250px;
	width : 550px;
}
.photo{
	float: right;
}
.sections{
	background-color : white;
	color : black;
	width : 560px;
    display: inline-block;
}
section{
    display: inline-block;    
    border: 1px solid blue;
}
.moyen{
	margin-bottom : 35px;
}
.puces{
	list-style-type : none;
	text-align: center;
	margin-left:0;
	padding-left:0;
}
.ecart{
	margin-bottom: 62px;
	content: "→ ";
}
.colle{
	margin-bottom : 10px;
}
mark{
	background-color: white;
	color : black;
}
h2{
	margin-bottom: 15px;
	margin-top : 0px;
	background-color: white;
	color : black;
	font-size: 30px;
}
.titre{
	font-weight: bold;
	font-size: 17px;
}
.section{
	margin-bottom : 20px;
}
.gauche{
	width:140px;
	float : left;
	background-color: RGB(173,173,173);
	text-align: center;
}
.gaucheloisirs{
	width:140px;
	float : left;
	background-color: RGB(173,173,173);
	text-align: center;
	height : 170px;
}
.centre{
	margin-left : 150px;
}
.droite{
	background-color: RGB(90,145,210);
	color : white;
	float : right;
	width: 220px;
	text-align : center;
}
.infos{
	background-color: RGB(20,5,130);
	color : white;
	height : 230px;
}